*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --bg-color: var(#e6dfff);
}

/* Navbar Starts Here */

@media only screen and (min-width: 800px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        background: rgb(230, 223, 255);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(8px);
    }
}

@media only screen and (max-width: 320px) {
    .navbar-toggler {
        color: #9930d6;
    }
}

.dropdown-menu a {
    color: #000;
}

.dropdown-menu a:hover {
    color: #000;
    backdrop-filter: blur(8px);
    background: #fff;
}

.dropdown-item:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}






section {
    background: rgb(230, 223, 255);
}

.bg_Header {
    background: rgb(230, 223, 255);
    height: auto;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10); */
}

.logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .logo {
        margin-left: 12px;
    }
}

.navbar-nav .nav-link {
    color: #212529;
    font-size: 18px;
    width: max-content;
    position: relative;
    cursor: pointer;
    margin-top: 0;
    margin-left: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
    .navbar-nav .nav-link {
        margin-left: 0;
    }
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 64%;
    left: 28px;
    background-color: #9930d6;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    margin-left: -14px;
}

/* underline nav-links property */
.navbar-nav .nav-link:hover::after {
    transform: scaleX(0.8);
}

.navbar-nav .nav-link:hover {
    color: #9930d6;
}

/* Small and Medium Laptop Screen */
@media only screen and (min-width: 769px) and (max-width: 1350px) {
    .navbar-nav .nav-link {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* Navbar Ends Here */





/* Banner Starts Here */

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.banner_text {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* Small Mobile Screen */
@media only screen and (max-width: 376px) {
    .banner_text {
        font-size: 18px;
    }
}

/* Large Mobile Screen */
@media only screen and (min-width: 376px) and (max-width: 519px) {
    .banner_text {
        font-size: 25px;
    }
}

/* Tablet Screen */
@media only screen and (min-width: 520px) and (max-width: 768px) {
    .banner_text {
        font-size: 35px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .banner_text {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .banner_text {
        font-size: 45px;
        color: #fff;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
}

/* Banner Ends Here */











/* Banner Below Bullet Starts Here*/

.Mid-Heading {
    font-size: 30px;
    line-height: 15px;
    font-weight: 500;
    margin: 60px 0px 0px;
    padding: 20px;
    color: #9930d6;
    background: #b966e721;
    display: inline-block;
    border-radius: 100px;
    width: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .Mid-Heading {
        font-size: 18px;
        line-height: 15px;
        font-weight: 500;
        margin: 30px 0 0;
        /* padding: 10px 20px; */
        padding: 12px;
        color: #9930d6;
        background: #b966e721;
        display: inline-block;
        border-radius: 100px;
        width: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .Mid-Heading {
        font-size: 25px;
        line-height: 15px;
        font-weight: 500;
        margin: 50px 0 0;
        /* padding: 10px 20px; */
        padding: 16px;
        color: #9930d6;
        background: #b966e721;
        display: inline-block;
        border-radius: 100px;
        width: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Mid-Heading {
        font-size: 25px;
        line-height: 15px;
        font-weight: 500;
        margin: 30px 0 0;
        /* padding: 10px 20px; */
        padding: 20px;
        color: #9930d6;
        background: #b966e721;
        display: inline-block;
        border-radius: 100px;
        width: auto;
    }
}

/* Banner Below Bullet Ends Here*/





/* Services Blocks Starts Here */

.services {
    border: 2px solid #d0c3fa;
    border-width: auto;
    height: auto;
    background: #d8cefa;
    border-radius: 20px;
    margin: 25px 50px;
    padding: 20px 15px;
}

.services:hover {
    transition: .2s ease-out;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.7);
}

.services h1 {
    font-size: 15px;
    font-weight: 650;
}

.services h1 img {
    width: 43px;
    height: 43px;
}

.services p {
    text-align: start;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .services {
        border: 2px solid #d0c3fa;
        background: #d8cefa;
        border-radius: 20px;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.50);
        width: 450px;
    }

    .services h1 {
        font-size: 25px;
    }

    .services p {
        font-size: 20px;
    }
}

/* Small Laptop Screen */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .services {
        border: 2px solid #d0c3fa;
        background: #d8cefa;
        border-radius: 20px;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.50);
        width: 450px;
    }

    .services h1 {
        font-size: 25px;
    }

    .services p {
        font-size: 20px;
    }
}

/* Services Blocks Ends Here */





/* Man Potrait Starts Here */

.man {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-bottom: 50px; */
}

.man img {
    padding: 50px 0;
}

/* Tablet Screen */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .man {
        padding: 0 0 30px 0;
    }

    .man img {
        padding: 0;
    }
}

/* Man Potrait Ends Here */





/* Footer Starts Here */

.footer {
    /* background-color: #9930d6; */
    background: linear-gradient(90deg, #b966e7, #2f57ef);
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    margin: 0 !important;
    /* height: auto; */
    /* display: flex; */
}

.f1 {
    background-color: none;
}

.f1 p {
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
}

.f1 p::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

.f1 p strong::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

.footer .f1 img {
    width: 90%;
    /* margin: 70px 50px 100px 20px; */
}

/* .f2 {
    margin-left: 10px;
} */

.f2 h1,
.f3 h1 {
    font-size: 25px;
    font-weight: 650;
    color: #212529;
}

.f4 h1 {
    font-size: 30px;
    font-weight: 600;
    color: #212529;
}

.f2 h1::selection,
.f3 h1::selection,
.f4 h1::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

.f2 li a,
.f3 li a {
    color: #fff;
    text-decoration: wavy;
}

.f2 li a::selection,
.f3 li a::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

.f2 ul li :hover,
.f3 ul li :hover {
    color: #fff;
    font-weight: 650;
    text-decoration: underline;
}

.f2 ul,
.f3 ul {
    line-height: 40px;
    padding: 0;
    list-style: none;
}

.f2,
.f3 {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.f4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.f4 ul {
    padding-left: 0;
}




/* Contact Us Heading Start */

.f4 p {
    color: #212529;
    font-size: 25px;
    font-weight: 700;
}

.f4 p::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

.f4 p {
    display: none;
}

/* Contact Us Heading End */



/* Contact Links Start */
.f4 ul li {
    font-size: 23px;
    list-style: none;
    text-decoration: none;
    line-height: 40px;
    text-align: start;
}

.f4 a {
    color: #fff;
}

.f4 ul li a:hover {
    color: #fff;
    font-weight: 650;
    text-decoration: underline;
}

.f4 ul li a::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

/* Footer Social Icons Links Start */

.f4 .centerIcon {
    margin-top: 30px;
}

.f4 .centerIcon a {
    color: #000;
    font-size: 30px;
    text-align: start;
}

a i {
    transition: all 0.4s;
}

.f4 .centerIcon a i {
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
}

.f4 .centerIcon a i:hover {
    font-size: 30px;
    color: #fff;
    background: none;
}

/* Footer Social Icons Links End */
/* Contact Links End */



/* Copyright Line Start */

.copyright {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.copyright p::selection {
    background-color: #e6dfff;
    color: #9930d6;
}

/* Copyright Line End */

/* Footer Ends Here */